$neutral: #EFE7E1;
$secondaryLight: #ffffff;
$primaryLight: #66bdff;
$backgroundDark: #aa7e65;
$secondary: #EAF7CF;
$primary: #0091FF;
$highlight: #EBEFBF;
$neutralDark: #ccb29e;
$background: #CEB5A7;
$highlightDark: #d1db6d;
$backgroundLight: #f2ece9;
$highlightLight: #ffffff;
$neutralLight: #ffffff;
$primaryDark: #005799;
$secondaryDark: #c4e878;
